<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunt Stars!</title>
    <link rel="stylesheet" href="./static/output.css">
    <link rel="stylesheet" href="./static/starHunt.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body class="bg-purple-900">
    <div id="splash" class="hidden fixed inset-0 bg-white transition-opacity opacity-0 z-50"></div>
    <div id="modal" class=" hidden fixed inset-0 bg-black bg-opacity-65 transition-opacity opacity-100 z-40 justify-center items-center px-5">
        <div class="max-w-lg w-full min-h-10 flex flex-col items-center relative">
            <div id="close" class="hidden absolute right-5 top-5 size-8 bg-red-500 rounded-full cursor-pointer"></div>
            <img src="./static/images/star.png" class="opacity-50 animate-spin animate-duration-[15000ms]" tabindex="-1">
            <div class=" w-full min-h-40 max-h-60 bg-white absolute left-0 bottom-0 rounded-xl overflow-y-auto">
                <div class="p-5">
                    <h1 id="textHolder" class="text-center text-2xl font-extrabold text-gray-800">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe esse quibusdam amet expedita eos repellendus atque. Distinctio iste dolorem ratione?
                    </h1>
                </div>
                <div class="bg-violet-700 focus:opacity-0 cursor-pointer transition-opacity size-full absolute top-0 flex justify-center items-center" tabindex="0">
                    <h1 class="text-center font-extrabold text-3xl text-slate-200 animate-pulse">
                        Tap to open...
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <section id="star-area">
        <div class="background">
            <div id="show-star" class="show-star">
                <h1 id="hint" class="hidden font-sans text-slate-300 font-extrabold text-5xl sm:text-6xl text-center mt-10 select-none">Double tap to<br>pop a star.</h1>
                <!-- Loop through the messages passed from Flask -->
                {% for message in messages %}
                    <span>
                        <div data-id="{{ message.id }}" class="hidden small-div group size-16 flex justify-center items-center focus:scale-150 duration-150"  tabindex="0">
                            <img src="./static/images/star.png" class="size-full object-cover cursor-pointer" alt="">
                        </div>
                    </span>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 px-5">
        <div id="clipboardCopy" class="group bg-white focus:bg-emerald-500 rounded-2xl text-center px-12 py-5 transition-colors shadow-xl cursor-pointer" tabindex="0">
            <p class="font-semibold text-gray-900 group-focus:text-slate-200">Tap to copy link</p>
            <h1 class="text-lg font-extrabold text-gray-700 group-focus:text-slate-200"></h1>
        </div>
    </div>
</body>
<script src="./js/custom.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", () => {
        var messages = {{ messages | tojson }};

        console.log(messages);

        var hint = document.getElementById('hint');
        var stars = document.querySelectorAll('#show-star > span > div');
        var splash = document.getElementById('splash');
        var modal = document.getElementById('modal');
        var clipboardCopy = document.getElementById('clipboardCopy');
        var close = document.getElementById('close');

        const ANIMATION_DELAY = 50;
        const JUMP_IN_DURATION = 500;
        const SPLASH_DURATION = 1500;

        const copyLink = `${window.location.hostname}${window.location.port ? `:${window.location.port}` : ''}/send/{{ session }}`;

        setTimeout(() => {
            hint.classList.replace('hidden', 'animate-jump-in')
        }, 2500)

        setTimeout(() => {
            hint.classList.replace('animate-jump-in', 'animate-pulse')
        }, 3500)

        setTimeout(() => {
            hint.classList.replace('animate-pulse', 'animate-jump-out')
        }, 11000)

        // Helper function to handle star animations
        function animateStar(star, index) {
          setTimeout(() => {
            star.classList.replace('hidden', 'animate-jump-in');
            addDoubleClickListener(star);

            // Change from jump-in to pulse animation
            setTimeout(() => {
              star.classList.replace('animate-jump-in', 'animate-pulse');
            }, JUMP_IN_DURATION);
          }, ANIMATION_DELAY * index);
        }

        // Helper function to handle double-click logic
        function addDoubleClickListener(star) {
          star.addEventListener('dblclick', () => {
            const id = star.getAttribute('data-id');
            const result = messages.find(item => item.id === parseInt(id, 10));

            if (result) {
              document.getElementById('textHolder').textContent = result.message;

              splash.classList.replace('hidden', 'flex');
              setTimeout(() => {
                splash.classList.replace('opacity-0', 'opacity-100');
                setTimeout(() => {
                  modal.classList.replace('hidden', 'flex');
                  splash.classList.add('duration-[2500ms]');
                  star.classList.add('hidden');
                  splash.classList.replace('opacity-100', 'opacity-0');

                  setTimeout(() => {
                    splash.classList.replace('z-50', 'z-30');
                    close.classList.replace('hidden', 'animate-jump-in');
                  },  SPLASH_DURATION + 1000);
                }, SPLASH_DURATION);
              }, 30);
            }
          });
        }

        stars.forEach((star, index) => {
          animateStar(star, index);
        });

        close.addEventListener('click', function(e) {
            close.classList.replace('animate-jump-in', 'hidden');
            splash.classList.replace('flex', 'hidden');
            splash.classList.remove('duration-[2500ms]');
            modal.classList.replace('flex', 'hidden');
            splash.classList.replace('z-30', 'z-50');
        });

        clipboardCopy.querySelector('div > h1').innerText = copyLink;
        clipboardCopy.addEventListener('click', function() {
            const text = clipboardCopy.querySelector('div > h1').innerText;
            navigator.clipboard.writeText(text).then(() => alert("Text copied to clipboard!"));
        })
    });
</script>

</html>
