<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⭐Starhunt!⭐</title>

    <!-- FOR VS CODE -->
    <link rel="stylesheet" href="./../static/output.css">
    <link rel="stylesheet" href="./../static/heroBackground.css">
    <!-- DO NOT TOUCH -->
    
    <link rel="stylesheet" href="./static/output.css">
    <link rel="stylesheet" href="./static/heroBackground.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <style>
        #loginDialog {
            transition: border-radius 0.2s ease-out, all 0.2s ease-out;
        }
    </style>
</head>
<body class="bg-[#3E1E68]">
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="modal" class="hidden p-5 absolute w-full h-[100vh] overflow-auto z-50 bg-black bg-opacity-50 items-center">
        <!-- Login form -->
        <div class="animate-jump-in dialog-box py-10">
            <!-- close demo -->
            <div id="close" class="absolute right-5 top-5 size-5 bg-red-500 rounded-full cursor-pointer"></div>
            <form id="loginForm" class="opacity-100 transition-all ease-out duration-500">
                <h1 class="font-sans text-slate-900 font-extrabold text-4xl text-center mb-5">Login</h1>

                <span id="loginResponse"></span>

                <input type="text" name="username" class="input-text mb-5 font-semibold" placeholder="Username" required>
                <input type="password" name="password" class="input-text mb-5 font-semibold" placeholder="password" required>
                <button class="w-full bg-purple-500 hover:bg-purple-700 text-white px-5 py-3 rounded-3xl font-extrabold text-lg mb-8 ">Login</button>
                <hr class="border-1 border-slate-300 mb-8 max-w-[250px] mx-auto">
            </form>

            <form id="signupForm" class="hidden opacity-0  ease-out  duration-500">
                <h1 class="font-sans text-slate-900 font-extrabold text-4xl text-center mb-5">Sign Up</h1>

                <span id="signupResponse"></span>

                <input type="text" name="username" class="input-text mb-5 font-semibold" placeholder="Username" required>
                <input type="password" name="password" class="input-text mb-5 font-semibold" placeholder="Password" required>
                <input type="password" name="confirm_password" class="input-text mb-5 font-semibold" placeholder="Confirm Password" required>
                <button class="w-full bg-purple-500 hover:bg-purple-700 text-white px-5 py-3 rounded-3xl font-extrabold text-lg mb-8 ">Sign Up</button>
                <hr class="border-1 border-slate-300 mb-8 max-w-[250px] mx-auto">
            </form>

            <button id="moreAction" class="w-full border border-purple-300 hover:border-purple-700 text-purple-700 hover:text-white hover:bg-purple-700 px-4 py-2 rounded-2xl font-semibold text-lg">Create an Account</button>
        </div>
    </div>

    <!-- main content -->
    <section id="hero">
        <div class="section-container h-[100vh] flex flex-col justify-center items-center gap-10">
            <h1 class="animate-fade-up font-sans text-slate-200 font-extrabold drop-s text-5xl sm:text-6xl text-center">See what others think about you.</h1>
            <p class="animate-fade-up max-w-xl text-white text-md sm:text-lg md:text-xl text-center">The anonymous messaging platform where you can share your thoughts, secrets, and feedback freely.</p>

            <p class="animate-fade-up text-white text-md max-w-lg text-center">✨ Send and receive messages while keeping your identity a mystery.</p>

            <button id="loginButton" class="animate-jump bg-purple-500 hover:bg-purple-700 text-white px-5 py-3 rounded-3xl font-extrabold text-lg mb-8">Login</button>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        var closeButton = document.getElementById('close');
        var modal = document.getElementById('modal');
        var loginButton = document.getElementById('loginButton');
        var moreAction = document.getElementById('moreAction');

        var loginForm = document.getElementById('loginForm');
        var signupForm = document.getElementById('signupForm');

        closeButton.addEventListener('click', function () {
            if(!modal.classList.contains('hidden')) {
                modal.classList.remove('flex');
                modal.classList.add('hidden');
            }
        })

        loginButton.addEventListener('click', function () {
            if(modal.classList.contains('hidden')) {
                modal.classList.remove('hidden');
                modal.classList.add('flex');
            }
        })

        moreAction.addEventListener('click', function () {
            if (moreAction.textContent === "Create an Account") {
                loginForm.classList.replace('opacity-100', 'opacity-0');
                setTimeout(() => {
                    loginForm.classList.add('hidden');
                    signupForm.classList.remove('hidden');
                    setTimeout(() => signupForm.classList.replace('opacity-0', 'opacity-100'), 30);
                }, 300);
                moreAction.textContent = "Go back to Login";
            } else {
                signupForm.classList.replace('opacity-100', 'opacity-0');
                setTimeout(() => {
                    signupForm.classList.add('hidden');
                    loginForm.classList.remove('hidden');
                    setTimeout(() => loginForm.classList.replace('opacity-0', 'opacity-100'), 30);
                }, 300);
                moreAction.textContent = "Create an Account";
            }
        });

        const signupResponse = document.getElementById('signupResponse');

        $('#signupForm').on('submit', function(event) {
            event.preventDefault();

            // Send AJAX request to Flask backend
            $.ajax({
                url: '/signup',
                method: 'POST',
                data: $(this).serialize(),  // Send form data
                success: function(response) {
                    if (response.status === 'success') {
                        signupResponse.innerHTML = `<p id="signup_success" class="animate-fade-up p-3 rounded-lg bg-emerald-200 text-emerald-800 font-extrabold mb-5">${response.message}</p>`;
                        setTimeout(()=>{
                            signupForm.classList.replace('opacity-100', 'opacity-0');
                            setTimeout(() => {
                                signupForm.classList.add('hidden');
                                loginForm.classList.remove('hidden');
                                setTimeout(() => loginForm.classList.replace('opacity-0', 'opacity-100'), 30);
                            }, 300);
                        }, 3000)
                moreAction.textContent = "Create an Account";
                    } else {
                        signupResponse.innerHTML =  `<p id="signup_bad_request" class="animate-shake p-3 rounded-lg bg-red-200 text-red-800 mb-5">${response.message}</p>`;
                    }
                },
                error: function(xhr, status, error) {
                    signupResponse.innerHTML = `<p id="signup_error" class="animate-shake p-3 rounded-lg bg-red-200 text-red-800 mb-5">${xhr.responseJSON.message ? xhr.responseJSON.message : 'Unknown error occured.'}.</p>`;
                }
            });
        });

        const loginResponse = document.getElementById('loginResponse');

        $('#loginForm').on('submit', function(event) {
            event.preventDefault();

            // Send AJAX request to Flask backend
            $.ajax({
                url: '/login',
                method: 'POST',
                data: $(this).serialize(),  // Send form data
                success: function(response) {
                    if (response.status === 'success') {
                        loginResponse.innerHTML = `<p id="login_success" class="animate-fade-up p-3 rounded-lg bg-emerald-200 text-emerald-800 font-extrabold mb-5">${response.message}</p>`
                        setTimeout(() => {
                            window.location.href = response.redirect_url;
                        }, 500)

                    } else {
                        loginResponse.innerHTML =  `<p id="login_bad_request" class="animate-shake p-3 rounded-lg bg-red-200 border border-red-700 text-red-800 mb-5">${response.message}</p>`;
                    }
                },
                error: function(xhr, status, error) {
                    loginResponse.innerHTML = `<p id="login_error" class="animate-shake p-3 rounded-lg bg-red-200 text-red-800 mb-5">${xhr.responseJSON.message ? xhr.responseJSON.message : 'Unknown error occured.'}.</p>`;
                }
            });
        });
    </script> 
</body>
</html>